.card {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardBody {
  padding: 5px;
}
